<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <add key="MYUserName" value="TCRM32Lab\epursau"></add>
    <add key="MYUserPassword" value="1234"></add>

    <add key="LOCALCRMOrgURL" value="http://10.223.150.47/CLAROPERUDEV"></add>
    <add key="LOCALCRMUserName" value="TCRM32Lab\Administrator"></add>
    <add key="LOCALCRMUserPassword" value="Ericsson2016"></add>

    <add key="LOCALQACRMOrgURL" value="http://10.223.150.9/CLAROPERUMASTERDEV"></add>
    <add key="LOCALQACRMUserName" value="TCRM32Lab\Administrator"></add>
    <add key="LOCALQACRMUserPassword" value="Ericsson2016"></add>

    <add key="OLDCRMOrgURL" value="http://10.223.150.47/CLAROPERUDEV"></add>
    <add key="OLDCRMUserName" value="TCRM32Lab\Administrator"></add>
    <add key="OLDCRMUserPassword" value="Ericsson2016"></add>


    <add key="CRMOrgURL" value="http://localhost:8080/CLAROPERUQA2"></add>
    <add key="CRMUserName" value="claro\crmadminuser"></add>
    <add key="CRMUserPassword" value="5A3gra#Qrz"></add>
    
  </appSettings>
</configuration>