<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <add key="MYUserName" value="TCRM32Lab\epursau"></add>
    <add key="MYUserPassword" value="1234"></add>

    <add key="DevURL" value="http://10.223.150.47/CLAROPERUDEV"></add>
    <add key="DevUserName" value="TCRM32Lab\Administrator"></add>
    <add key="DevPassword" value="crmERI2018"></add>

    <add key="MasterDevURL" value="http://10.223.150.9/CLAROPERUMASTERDEV"></add>
    <add key="MasterDevUserName" value="TCRM32Lab\Administrator"></add>
    <add key="MasterDevPassword" value="crmERI2018"></add>

    <add key="QAURL" value="http://localhost:8080/CLAROPERUQA2"></add>
    <add key="QAUserName" value="claro\crmadminuser"></add>
    <add key="QAPassword" value="5A3gra#Qrz"></add>
    
  </appSettings>

</configuration>